body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Microsoft YaHei', 'Arial', '黑体', sans-serif;
  color: #333;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px 'Microsoft YaHei', 'Arial', '黑体', sans-serif;
}
table {
  border-collapse: collapse;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f2f2f2;
}
header {
  width: 100%;
  height: 37px;
  background: #ff852a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
header #logo {
  width: 15%;
  height: 37px;
  display: inline-block;
}
header #logo .icontao {
  line-height: 37px;
  font-size: 40px;
  color: white;
}
header #search {
  background: #ff4e22;
  height: 22px;
  width: 80%;
  display: inline-block;
  position: relative;
  top: -9px;
  border-radius: 4px;
  text-align: center;
}
header #search span {
  color: #f0e0dc;
  font-size: 12px;
}
#container {
  padding-top: 2rem;
  padding-bottom: 50px;
}
#container .swiper-container {
  height: 120px;
}
#container .swiper-container .swiper-wrapper {
  height: 100%;
  background: #333333;
}
#container .swiper-container .swiper-wrapper img {
  width: 100%;
}
#container #nav {
  box-sizing: border-box;
  height: 158px;
  overflow: hidden;
  background: white;
  margin-bottom: 10px;
}
#container #nav .wrap {
  position: absolute;
  white-space: nowrap;
}
#container #nav .wrap li {
  display: inline-block;
  height: 158px;
  width: 61px;
}
#container #nav .wrap li div img {
  height: 48px;
  width: 61px;
}
#container .juhuasuan {
  width: 375px;
  height: 363px;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 30px 0;
}
#container .juhuasuan .FrameLayout {
  position: absolute;
  display: flex;
  overflow: hidden;
  margin-left: 9px;
  margin-right: 9px;
  width: 357px;
  height: 363px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ffffff;
  left: 0;
  top: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
#container .juhuasuan .FrameLayout .jhs-item {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
}
#container .juhuasuan .FrameLayout .jhs-item div:nth-child(1) {
  height: 20px;
  width: 175px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("https://file.acs.pw/picGo/2021/1/27/20d9ee8d127814c9e4cb105cc803c7c9.png");
  margin-top: 9px;
}
#container .juhuasuan .FrameLayout .jhs-item .item {
  width: 40%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#container .juhuasuan .FrameLayout .jhs-item .item p {
  color: #fe4e50;
  font-size: 13px;
  font-weight: bold;
}
#container .juhuasuan .FrameLayout .jhs-item .item .mask {
  position: absolute;
  height: 100%;
  margin-left: 1px;
  width: 100%;
  background-color: rgba(214, 67, 0, 0.05);
  left: 0px;
  top: 0px;
  overflow: hidden;
}
#container .juhuasuan .FrameLayout .jhs-item .item img {
  width: 100%;
}
#container .juhuasuan .FrameLayout .jhs-item:nth-child(1) div:nth-child(1) {
  background-image: url("https://file.acs.pw/picGo/2021/1/27/20d9ee8d127814c9e4cb105cc803c7c9.png");
}
#container .juhuasuan .FrameLayout .jhs-item:nth-child(2) div:nth-child(1),
#container .juhuasuan .FrameLayout .jhs-item:nth-child(3) div:nth-child(1) {
  background-image: url("https://file.acs.pw/picGo/2021/1/27/57972d3bd76c7b2daa599134d9d12200.png");
}
#container .juhuasuan .FrameLayout .jhs-item:nth-child(4) div:nth-child(1) {
  background-image: url("https://file.acs.pw/picGo/2021/1/27/88917735d878a3c72718e17d0b6cf37e.png");
}
#container .juhuasuan .FrameLayout .jhs-item:nth-child(5) div:nth-child(1) {
  background-image: url("https://file.acs.pw/picGo/2021/1/27/9b7be426ec7c4d1f3d88a4531e0e01c0.png");
}
#container .juhuasuan .FrameLayout .jhs-item:nth-child(6) div:nth-child(1) {
  background-image: url("https://file.acs.pw/picGo/2021/1/27/45b0a4ee77a851b8c4d83741f489e469.png");
}
#container .juhuasuan .corner {
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  background: white;
  width: 357px;
  position: absolute;
  bottom: 8px;
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
  text-align: center;
}
#container .juhuasuan .corner p {
  width: 30%;
  line-height: 50px;
  font-weight: bold;
  margin: 0 auto;
}
#container .juhuasuan .corner div {
  width: 70%;
  line-height: 50px;
}
#container .do-you-like {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
#container .do-you-like .like-item {
  width: 46%;
  margin-bottom: 5px;
  position: relative;
}
#container .do-you-like .like-item img {
  width: 100%;
}
#container .do-you-like .like-item .desc > span {
  height: 40px;
  overflow: hidden;
  display: block;
}
#container .do-you-like .like-item .info {
  position: relative;
  bottom: 0;
}
#container .do-you-like .like-item .info .price {
  color: #ff5500;
}
#container .do-you-like .like-item .info .price .price-num {
  font-size: 18px;
}
#container .do-you-like .like-item .info > span {
  margin-right: 10px;
}
#container .pull-up-update {
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: -20vh;
  font-size: 20px;
  line-height: 20vh;
  text-align: center;
}
footer {
  height: 100px;
  width: 100%;
  background: #4e525e;
  overflow: hidden;
  text-align: center;
}
footer .btns {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}
footer .btns .btn {
  color: #c3c6ca;
  background-color: #555965;
  border: 1px solid #42454d;
  padding: 0 17px;
  border-radius: 6px;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}
footer span {
  color: #c3c6ca;
  text-align: center;
}
.flex {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #f0e0dc;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.flex .flex-item {
  margin: 0 10px;
}
.flex .flex-item i {
  font-size: 27px;
  display: block;
}
/*# sourceMappingURL=index.css.map */